<section id="home-container">  
  <div class="container col-md-8">
    <h1 class="main-title">BlocItOff</h1>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="sr-only">Task</label>
            <input type="text-area" placeholder="new task" ng-model="description">
            <button type="submit" class="btn btn-success" ng-click="addTask()">Add New Task</button>
          </div>
        </form>
    <tabset>
      <tab class="task-tab" heading="Open Tasks">

        <h4 id="open-hdr">Open Task List</h3>
        <table class="table table-striped">
          <tr>
          	<th class="done-col">Delete</th>
            <th class="done-col">Complete</th>
            <th class="task-number-col">#</th>
            <th>Task</th>
          </tr>
          <tr ng-repeat="task in taskList | filter:{ name: 'open' }">
          	<td><span class="delete-it"><i class="fa fa-times-circle-o" ng-click="removeTask(task)"></i>
                <i class="fa fa-times-circle" ng-click="removeTask(task)"></i></span>
            </td>
            <td><span class="mark-it"><i class="fa fa-square-o" ng-click="toggleOpenClosed(task)"></i>
                <i class="fa fa-check-square-o" ng-click="toggleOpenClosed(task)"></i></span>
            </td>
            <td>{{ $index + 1 }}</td>
            <td>{{ task.description }}</td> 
          </tr>
        </table>
      </tab>
      <tab class="task-tab" heading="Completed/Expired Tasks">
        <h4 id="closed-hdr">Completed/Expired Tasks</h3>
        <table class="table table-striped">
          <tr>
            <th class="done-col">Delete</th>
            <th class="done-col">Re-Open</th>
            <th class="task-number-col">#</th>
            <th>Task</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="task in taskList | filter: showDoneTasks">
          	<td><span class="delete-it"><i class="fa fa-times-circle-o" ng-click="removeTask(task)"></i>
                <i class="fa fa-times-circle" ng-click="removeTask(task)"></i></span>
            </td>
            <td><span class="mark-it"><i class="fa fa-square-o" ng-click="toggleOpenClosed(task)"></i>
                <i class="fa fa-check-square-o" ng-click="toggleOpenClosed(task)"></i></span>
            </td>
            <td>{{ $index + 1 }}</td>
            <td>{{ task.description }}</td> 
            <td>{{ task.name }}</td>
          </tr>
        </table>
      </tab>

  </div>

</section>